@using DTKH2024.SbinSolution.Web.Public.Views.Shared.Components.Header
@using DTKH2024.SbinSolution.Web.Navigation
@model HeaderViewModel
@{
    var orderedMenuItems = Model.Menu.Items.OrderByCustom().ToList();
}
<div class="vs">
    <a>
        <img src="https://visitcount.itsvg.in/api?id=SbinVisitor&label=Visitor&color=3&icon=0&pretty=false" />
    </a>
</div>
<div class="grid wide">
    <div class="header flex-center">
        <div class="logo flex-center">
            <a href="@Url.Action("Index", "About")"><img src="~/Sbin/assets/img/logo.png"></a><a href="/">SBin</a>
        </div>
        <nav class="navbar hide-on-tablet-mobile">
            <ul class="navbar__list flex-center">
                <li class="navbar__item"><a class="navbar__link" href="@Url.Action("Index", "About")">About</a></li>
                <li class="navbar__item"><a class="navbar__link" href="@Url.Action("Index", "Leaderboard")">Leaderboard</a></li>
                <li class="navbar__item"><a class="navbar__link" href="@Url.Action("Index", "Support")">Support</a></li>
            </ul>
        </nav>
        <div class="user-info flex-center">
            <div class="navbar__coin-reward__total">
                <a class="sharp flex-center" href="http://app.sbin.edu.vn/"><i class="fa-solid fa-user"></i><span style="padding-left: 8px">@L("LogIn")</span></a>
            </div>
        </div>
        <label class="menu-mobile__btn hide-on-pc" for="menu-mobile">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input class="menu-input" type="checkbox" hidden id="menu-mobile">
        <label for="menu-mobile" class="overlay"></label>
        <div class="menu-mobile">
            <ul>
                <li><a href="@Url.Action("Index", "About")">About</a></li>
                <li><a href="@Url.Action("Index", "Leaderboard")">Leaderboard</a></li>
                <li><a href="@Url.Action("Index", "Support")">Support</a></li>
            </ul>
        </div>
    </div>
</div>


