@using DTKH2024.SbinSolution.Authorization
@using DTKH2024.SbinSolution.Web.Areas.App.Models.Brands
@using DTKH2024.SbinSolution.Web.Areas.App.Startup
@using DTKH2024.SbinSolution.Brands.Dtos;

@{
    ViewBag.CurrentPageName = AppPageNames.Common.RedeemGifts;
}
@section Styles {
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/style.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/base.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/grid.min.css">
    <link rel="stylesheet" href="~/view-resources/Areas/App/Views/Sbin/assets/css/responsive.css">
    <style>
        .no-margin, .no-margin > * {
            margin: 0px !important;
        }
        ul, p {
            padding: 0px !important;
            margin: 0px !important;
        }
    </style>
}
@section Scripts {
    <script src="~/view-resources/Areas/App/Views/Sbin/js/constant.js"></script>
    <script src="~/view-resources/Areas/App/Views/Sbin/js/redeem-gift.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<div id="redeem-gifts">
    <div class="grid wide">
        <h1 class="heading-section"><i style="color: var(--dark-green); font-size: 22px;" class="fa-solid fa-ticket"></i> @L("RedeemGifts")</h1>
        <h3 style="margin-bottom: 20px" class="heading__h3">@L("RedeemGiftsHeaderInfo")!</h3>
        <div class="redeem-gifts row">
            <div class="col l-3 m-0 c-0">
                <div class="my-voucher">
                    <a href="@Url.Action("Index", "WareHouseGifts")">
                        <div class="flex-center">
                            <h3 class="my-voucher__heading">My voucher</h3>
                            <i class="fa-solid fa-gift"></i>
                        </div>
                        <p>You don't have any voucher</p>
                    </a>
                </div>
                <div class="category">
                    <h3 class="category__heading">Category</h3>
                    <ul class="category__list">
                        @foreach (var brand in (List<DTKH2024.SbinSolution.Brands.Dtos.GetBrandForViewDto>)ViewBag.Brands)
                        {
                            <li class="category__item flex-center">
                                <input class="category__checker" type="radio" name="voucher">
                                <div class="category__describe flex-center" style="justify-content: flex-start;">
                                    <img class="category__brand" src="/view-resources/Areas/App/Views/Sbin/assets/img/brand/@(brand.Brand.Id).png" />
                                    <p class="category__name" style="margin-left: 5px !important">@brand.Brand.Name</p>
                                </div>
                                <p class="category__quantity">(@brand.Brand.ProductCount)</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="no-margin col l-9 m-12 c-12">
                <div class="filter flex-center">
                    <input id="filter__search" class="input-form" type="text" placeholder="Search items by keyword, price, etc">
                    <i style="color: var(--white-color);" class="search-btn fa-solid fa-search"></i>
                </div>
                <div class="my-voucher hide-on-pc" style="margin: 0; margin-top: 26px !important;">
                    <div class="flex-center">
                        <h3 class="my-voucher__heading">My voucher</h3>
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <p>You don't have any voucher</p>
                </div>
                <div class="no-margin row">
                    <div class="col l-4 m-4 c-6">
                        <div class="voucher__item js-popup">
                            <div class="voucher__value flex-center">
                                <span>500</span>
                                <img class="coin" src="/view-resources/Areas/App/Views/Sbin/assets/img/coin.png">
                            </div>
                            <div class="voucher__img" style="background-image: url('/view-resources/Areas/App/Views/Sbin/assets/img/coupons/coupons-blue.png');"></div>
                            <div class="voucher__describe">
                                <p class="voucher__name">Katinat Voucher</p>
                                <p class="voucher__date">Out of date: 20/10/2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="voucher__item" data-index="1">
                            <div class="voucher__value flex-center">
                                <span class="voucher__price">100</span>
                                <img class="coin" src="/view-resources/Areas/App/Views/Sbin/assets/img/coin.png">
                            </div>
                            <div class="voucher__img" style="background-image: url('/view-resources/Areas/App/Views/Sbin/assets/img/coupons/coupons-orange.png');"></div>
                            <div class="voucher__describe">
                                <p class="voucher__name">Circle K Voucher</p>
                                <p class="voucher__date">Out of date: 20/10/2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="voucher__item">
                            <div class="voucher__value flex-center">
                                <span class="voucher__price">600</span>
                                <img class="coin" src="/view-resources/Areas/App/Views/Sbin/assets/img/coin.png">
                            </div>
                            <div class="voucher__img" style="background-image: url('/view-resources/Areas/App/Views/Sbin/assets/img/coupons/coupons-yellow.png');"></div>
                            <div class="voucher__describe">
                                <p class="voucher__name">Highlands Voucher</p>
                                <p class="voucher__date">Out of date: 20/10/2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="voucher__item">
                            <div class="voucher__value flex-center">
                                <span class="voucher__price">300</span>
                                <img class="coin" src="/view-resources/Areas/App/Views/Sbin/assets/img/coin.png">
                            </div>
                            <div class="voucher__img" style="background-image: url('/view-resources/Areas/App/Views/Sbin/assets/img/coupons/coupons-light-blue.png');"></div>
                            <div class="voucher__describe">
                                <p class="voucher__name">Vietle Voucher</p>
                                <p class="voucher__date">Out of date: 20/10/2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-6">
                        <div class="voucher__item">
                            <div class="voucher__value flex-center">
                                <span class="voucher__price">500</span>
                                <img class="coin" src="/view-resources/Areas/App/Views/Sbin/assets/img/coin.png">
                            </div>
                            <div class="voucher__img" style="background-image: url('/view-resources/Areas/App/Views/Sbin/assets/img/coupons/coupons-blue.png');"></div>
                            <div class="voucher__describe">
                                <p class="voucher__name">Đậu Má Mix Voucher</p>
                                <p class="voucher__date">Out of date: 20/10/2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-Modalpopup">
    <div class="modal__overlay js-CloseModalpopup"></div>
    <div class="modal__body">
        <div class="popup__modal js-VoucherDetails">
            @* <h1 class="popup__header exchange__voucher--heading">Giảm 30K</h1>
            <p class="popup__describe exchange__voucher--sub-heading">Cho tất cả khung giờ</p>
            <hr class="dashed-line">
            <div class="flex-center" style="justify-content: space-between;">
                <div class="flex-center">
                    <img class="exchange__voucher--brand" src="/view-resources/Areas/App/Views/Sbin/assets/img/brand/1.png" alt="">
                    <p class="exchange__voucher--brand-sub">Highlands Coffee</p>
                </div>
                <p class="exchange__voucher--brand-sub">Hot</p>
            </div>
            <div class="exchange__voucher--description">
                <p class="bold">Điều Khoản Sử Dụng</p>
                <ul>
                    <li>Áp dụng cho hóa đơn từ 20.000đ  khi mua Coffee tại  Highlands.</li>
                    <li>Áp dụng duy nhất 1 lần cho 1 hóa đơn.</li>
                </ul>
            </div>
            <div class="flex-center" style="justify-content: space-between;">
                <button style="font-size: 13px;" class="js-CloseModalpopup _btn">Hủy Chọn</button>
                <button style="font-size: 13px;" class="js-CloseModalpopup _btn">Đổi Ngay</button>
            </div> *@
            <div class="exchange__voucher--lazyload">
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
                <div class="skeleton skeleton-text skeleton-text__large"></div>
            </div>
        </div>
    </div>
</div>