
@using DTKH2024.SbinSolution.Web.Areas.App.Models.Common.Modals
@using DTKH2024.SbinSolution.Web.Areas.App.Models.BenefitsRankLevels
@model BenefitsRankLevelViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="BenefitsRankLevelInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.BenefitsRankLevel.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.BenefitsRankLevel.Description
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("RankLevel")) @L("Name") :</h6>
                @Model.RankLevelName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")